<section id="-group">
    <form class="d-flex justify-content-center">
      <div>
        <div class="d-flex flex-column grid gap-2">
          <div class="mb-1">
            <label for="text" class="form-label"></label>
            <input type="text" class="form-control " id="task-title" placeholder="Título">
          </div>
          <div class="mb-2">
            <label for="text" class="form-label"></label>
            <input type="text" class="form-control" id="task-details" placeholder="Descrição">
          </div>
        </div>
        <div class="d-flex justify-content-evenly">
          <button type="submit" class="btn btn-secondary mb-4" id="btn-store">Guardar</button>
          <button type="reset" class="btn btn-secondary mb-4" id="btn-store">Limpar</button>
        </div>
      </div>
    </form>
  </section>

  <section class="d-flex justify-content-center">
    <div class="list-group my-5" id="task-list-group"></div>
  </section>
