@import 'bootstrap/dist/css/bootstrap.min.css';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  margin-top: 50px;
  word-wrap: break-word;
  background-color: black;
  color: white;
}

#taks-list {
  width: 80%;
}

button,
label {
  border-radius: 5px;
}